*{
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background-color: rgb(56, 2, 131);
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: white;
  font-size: 2.5rem;
}

.calculadora{
  padding: 1rem 0.6rem 1rem 0.6rem;
  background-color: white;
  border-radius: 3%;
  width: fit-content;
}

.adicionar-nota{
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

#notas{
  overflow-y: scroll;
  margin-bottom: 1rem;
}

.resultado{
  display: flex;
  gap: 0.5rem;
}